.profile{
    margin-top: 10vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
@mixin btnStyle{
    width: 100px;
    height: 32px;
    border: none;
    border-radius: 5px;

}
.profile-header{
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(221, 220, 220);
    flex-direction: column;
    #btns{
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-left: 50%;
        width: 20%;
        justify-content: space-around;
        #follow-btn{
            @include btnStyle();
            background-color: royalblue;
            color: white;
        }
        #unfollow-btn{
            @include btnStyle();
            background-color: white;
            color: black;
        }
        #settings-btn{
            @include btnStyle();
        }
    }

    .profile-info{
        width: 100vw;
        height: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-self: center;
        span{
            img{
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            width: 50%;
        }
        #main{
            justify-content: unset;
            width: 20%;
        }
    }
}
#settings{
    position: absolute;
    width: 180px;
    height: 180px;
    border: 1px solid rgb(223, 221, 221);
    left: 45vw;
    text-align: center;
    background-color: white;
    h4{
        color: red;
        cursor: pointer;
    }
}
.profile .image-container{
    margin: auto;
    width: 50vw;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    
    img{
        width: 100%;
        height: 200px;
        object-fit:contain;
        background-color: rgb(233, 233, 233);
    }
    
}

@media(max-width:768px){
    .profile-header{
        .profile-info{
            justify-content: space-between;
        }
    }
    .profile .image-container{
        width: 100vw;
        grid-template-columns: 1fr 1fr 1fr;
        img{
            height: 150px;
        }
    }
  
}