.post{
    width: 400px;
    height: 500px;
    border-radius: 20px;
    border: 1px solid rgb(226, 226, 226);
    margin: 0 auto;
    margin-top:1vh;
    text-align: center;
    overflow: hidden;
    .post-header{
        border-bottom: rgb(226, 226, 226);
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgb(226, 226, 226);
        
        span{
            display: flex;
            width: 30%;
            height: 32px;
            justify-content: space-around;
            align-items: center;
            margin: 0;
            h3{
                margin: 0;
            }
            img{
                width: 32px;
                height: 32px;
                border-radius: 50%;
                margin: 0;
            }
        }
    }
    .image-container{
        width: 100%;
        background-color: gray;
        img{
            max-width: 100%;
            width: auto;
            max-height: 300px;
            height: auto;
        }
    }
    .reactions{
        align-items: center;
        height: 10%;
        width: 100%;
        justify-content: space-between;  
        border-bottom: 1px solid rgb(226, 226, 226);
        span{
            display: flex;
            width: 50%;
            height: 100%;
            justify-content: space-around;
            margin-left: 25%;
            align-items: center;
        }      
    }
    .comment{
      
        display: flex;
        justify-content: space-between;
        textarea{
            width: 80%;
            height: 4vh;
            border: 1px solid rgb(226, 226, 226);
        }
        button{
            width: 20%;
            height: 5vh;
            border: none;
            color: white;
            background-color: royalblue;

        }
    }

    .post-comments,.all-comments{
        width: 100%;
        height: 32px;
        .single-comment{
            width: 100%;
            height: 32px;
            display: flex;
            align-items: center;
            margin-left: 10px;
            text-align: left;
            margin-top:20px;
            justify-content: space-around;
            
            span{
                display: flex;
                align-items: center;
                img{
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                }
                p{
                    height: 20px;
                      
                }
                h3{
                    height: 32px;
                    font-size: 32px;
                }
            }   

            
        }
        .last-comment{
            justify-content: unset;
        }


    }
    .all-comments{
        height: 100%;
        z-index: 4;

    }
    

}

@media(max-width:478px){
    .post{
        border:none;
        width: 100vw;
        border-top: 1px solid rgb(226, 226, 226);
    }
}