.Newpost{
    margin-top: 10vh;
    width: 100vw;
    height: 80vh;
    align-items: center;
    display: flex;
    justify-content: space-around;
    .photo-upload{
        width: 40vw;
        height: 80%;
        border: 1px solid royalblue;
        border-radius: 20px;
        display: flex;
        align-items: center;
       
        img{
            min-width: 100px;
            max-width: 100%;
            width: auto;
            margin: auto;
            height: 100%;
            border-radius: 20px;
        }

        input,svg{
            width: 40vw;
            height: 200px;
            position: absolute;
            
        }
        #close{
            width: 32px;
            height: 32px;
            position: absolute;
            
            z-index: 2;
        }
        input{
            opacity: 0;
      
        }
    }
    .description-upload{
        width: 35vw;
        height: 80%;
        display: block;
        margin-top: 50px;
        textarea{
            
            width: 40vw;
            height: 53vh;
            border:1px solid royalblue ;
            border-radius: 20px;
        }
        button{
            width: 100%;
            height: 32px;
            margin-top: 5vh;
            border: none;
            border-radius: 10px;
            color: white;
            background-color: royalblue;
        }
    }
}

@media(max-width:768px){
    .Newpost{
        display: block;
        z-index: 1;
        .photo-upload,.description-upload{
            border: none;
            width: 100vw;
            height: 30vh;
            margin: 0 auto;
            text-align: center;
            margin-top: 50px;
            
        }
        .photo-upload{

            svg,input{
                width: 100vw;
            }
        }
        .description-upload textarea{
            height: 20vh;
            width: 90vw;
        }
        .description-upload button{
            width: 90vw;
        }
    }
}